dist: trusty
sudo: false
language: ruby
rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.0
services:
  - postgresql
addons:
  postgresql: 9.6
before_script:
  - psql -c 'CREATE DATABASE db_schema_test;' -U postgres
  - psql -c 'CREATE DATABASE db_schema_test2;' -U postgres
